<html>
<head></head>
<body>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 10vw;
      font-style: italic;
      letter-spacing: -0.05em;
    }
  </style>
  <p>Hello <%= name %>!</p>
</body>
</html>
