body {
  margin: 0;
  font-size: 26px;
  font-family: Helvetica;
}

h1, h2, h4 {
  margin: 0;
}

h1 {
  font-family: Lobster, sans-serif;
  font-size: 100px;
  line-height: 80px;
  max-width: 200px;
  overflow: visible;
}

h2, h4 {
  color: grey;
  line-height: 30px;
}

h1 span {
  font-size: 70px;
}

.header {
  text-align: center;
  max-width: 300px;
  margin: 100px auto 100px auto;
}

img {
  display: block;
  max-width: 600px;
  margin: 10px auto;
}

.caption {
  max-width: 600px;
  margin: 10px auto 100px auto;
}

.caption p {
  max-width: 100%;
  margin: 20px 0;
  padding: 0;
  clear: both;
}

.float {
  width: 300px;
  float: left;
  margin: 10px 30px 20px 0;
}

.right {
  float: right;
  margin: 10px 0px 20px 30px;
}









/**/
